.chat{
    background-color: white;
    width: 400px;
    height: 600px;
    position:fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.chat-title{
    font-weight: 700;
}
.chat-close{
    font-weight: 700;
    font-size: 1.2rem;
    transition: font-size 0.2s;
}
.chat-close:hover{
    font-size: 1.5rem;
    cursor: pointer;
}

.chat-messages{
    border-bottom: 1px solid black;
    padding:1rem;
    margin:0 0 1em 0;
    height: 100%;
}

.message{
    height: auto;
}
.message--agent{
    display: flex;
    margin: 0 0 0 auto;
    color: red;
}
.message--user{
    margin-left: auto;
}

.chat-input{
    position: absolute;
    width: 95%;
    bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.chat-input-message{
    border-radius: 5px;
    width: 100%;
}
/* ********************
CHAT BUTTON
**********************/
.chat-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(187, 178, 178, 0.3);
    color: #0056b3;
    border: 2px solid #0056b3;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition:
    color 0.2s,
    width 0.3s,
    height 0.3s,
    background-color 0.3s;
}
.chat-button:hover{
    background-color: #0056b3;
    color: white;
    width: 7rem;
    height: 2.5rem;
}

